body{
    margin: 0;
}

.container{
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winMessage{
    height: 50px;
    margin-bottom: 50px;
    font-size: 50px;    
}

.gameboard{
    height: 600px;
    width: 600px;
    border: solid black 5px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 170px;
}

.form{
    margin-top: 50px;
}

.button{
    padding: 5px 10px;
    margin: 20px 5px;
    border-radius: 15px;
}